body {
  background: #ECEFF1;
  color: #444;
  font-family: 'Droid Serif', serif;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.CloseButton,
.AddButton {
  display: block;
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
  border-radius: 20px;
  background: transparent;
  color: #6200EA;
  border: 1px solid currentColor;
  cursor: pointer;
  text-align: center;
  line-height: 40px;
  vertical-align: middle;
  font-size: 30px;
  font-weight: 700;
  margin-left: 10px;
  outline: none;
  transition: transform .5s ease;
}

.CloseButton {
  color: #DD2C00;
  transform: rotateZ(45deg);
  animation: 0.2s ease closeButtonAppear;
}

.AddForm {
  animation: 0.5s ease formOpen;
  position: relative;
  width: 400px;
  height: 150px;
  background: #fff;
  margin: 0 10px;
  border-radius: 4px;
  display: flex;
  align-items: stretch;;
  justify-content: center;
}

.AddForm input {
  flex: 1;
  border: none;
  background: none;
  text-align: center;
  outline: none;
  font-size: 24px;
  overflow: hidden;
  white-space: nowrap;
}

.AddForm input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #D1C4E9;
}
.AddForm input::-moz-placeholder { /* Firefox 19+ */
  color: #D1C4E9;
}
.AddForm input:-ms-input-placeholder { /* IE 10+ */
  color: #D1C4E9;
}
.AddForm input:-moz-placeholder { /* Firefox 18- */
  color: #D1C4E9;
}

.AddForm-AutoComplete {
  text-align: center;
  position: absolute;
  top: 120px;
  padding-top: 14px;
  left: 0;
  background: #fff;
  width: 100%;
  border-radius: 4px;
  display: none;
}

.AddForm-AutoComplete.has-items {
  display: block;
}

.AddForm-AutoComplete > div {
  margin-bottom: 14px;
  padding: 0 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #e5e5e5;
}

.AddForm-AutoComplete > div.selected {
  color: #6200EA;
}

@-webkit-keyframes closeButtonAppear {
  from {
    color: #6200EA;
    transform: rotateZ(0);
  }

  to {
    color: #DD2C00;
    transform: rotateZ(45deg);
  }
}


@-webkit-keyframes formOpen {
  from {
    width: 0;
  }

  to {
    width: 400px;
  }
}
